@model p.Models.LoginView

<form action="Index" method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username">
<br>
    <label asp-for="Password"></label>
    <input asp-for="Password">
<br>
    <input asp-for="RememberMe"> <label asp-for="RememberMe"></label>
    <br>
    <input type="submit" value="submit">
    <span asp-validation-summary="ModeOnly"></span>
</form>


