@model mock2.Models.BloodDonor

<form asp-action="Delete" asp-controller="BloodDonor" method="post">
    <div class="form-group">
        <label asp-for="ID"></label><br>
        <input asp-for="ID" readonly>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Name"></label><br>
        <input asp-for="Name" readonly>
    </div>
<br>
    <div class="form-group">
        <label asp-for="DOB"></label><br>
        <input asp-for="DOB" readonly>
    </div>
<br>
    <div class="form-group">
        <label asp-for="BloodGroup"></label><br>
        <select asp-for="BloodGroup" class="form-select" readonly>
            <option selected>Select Blood Group</option>
            <option value="b+">B+</option>
            <option value="o+">O+</option>
            <option value="a-">A-</option>
        </select>
    </div>
<br>
    <div class="form-group">
        <label asp-for="MobileNumber"></label><br>
        <input asp-for="MobileNumber" readonly>
    </div>
<br>

    <div class="form-group">
        <label asp-for="Gender"></label><br>
        <input asp-for="Gender" readonly>
    </div>
<br>
    <div class="form-group">
        <label asp-for="Email"></label><br>
        <input asp-for="Email" readonly>
    </div>
<br>
    <div class="form-group">
        <label asp-for="Location"></label><br>
        <input asp-for="Location" readonly>
    </div>
<br>
    <div class="form-group">
        <input type="submit" value="Delete">
    </div>
</form>

